<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/admin/admin-layout">
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
	<div layout:fragment="content" >
<div id="content" class="bg-container">
                <header class="head">
                    <div class="main-bar">
                        <div class="row">
                        <div class="col-sm-5 col-lg-6 skin_txt">
                            <h4 class="nav_top_align">
                            <i class="fa fa-pencil"></i>
                            <span th:text="#{role-cu}">Add Role</span>
                        </h4>
                        </div>
                        <div class="col-sm-7 col-lg-6">
                            <ol class="breadcrumb float-right nav_breadcrumb_top_align">
                                <li class="breadcrumb-item">
                                    <a href="index.html">
                                        <i class="fa fa-home" data-pack="default" data-tags=""></i><span th:text="#{dashboard}">Dashboard</span> 
                                    </a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#" th:text="#{role-cu}">Role Form</a>
                                </li>
                                
                            </ol>
                        </div>
                        </div>
                    </div>
                </header>


                <div class="outer">
                    <div class="inner bg-container">
                        <div class="row">
                            <div class="col-12">
                                <div class="card m-t-35">
                                    <div class="card-header bg-white">
                                        2 Column Sign Up Layout
                                    </div>
                                    <div class="card-block">
                                        <form class="form-horizontal">
                                            <fieldset>
                                                <div class="form-group row m-t-35">
                                                    <div class="col-lg-3 col-xl-2 text-lg-right">
                                                        <label for="name4" class=" col-form-label" th:text="#{username}">Username</label>
                                                    </div>
                                                    <div class="col-lg-8 col-xl-4">
                                                        <div class="input-group">
                                            <span class="input-group-addon">
                                            <i class="fa fa-user"></i>
                                        </span>
                                                            <input type="text" id="name4" class="form-control" placeholder="User Name">
                                                        </div>
                                                    </div>
                        							<div class="col-lg-3 col-xl-2 two_column_label_margintop text-lg-right">
                                                        <label for="email4" class="control-label"th:text="#{email}">E-mail</label>
                                                    </div>
                                                    <div class="col-lg-8 col-xl-4 two_column_signup_margintop">
                                                        <div class="input-group">
                                            <span class="input-group-addon">
                                            <i class="fa fa-envelope"></i>
                                        </span>
                                                            <input type="text" id="email4" class="form-control" placeholder="E-mail">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-lg-3 col-xl-2 text-lg-right">
                                                        <label for="username4" class="col-form-label" th:text="#{role}">Role</label>
                                                    </div>
                                                    <div class="col-lg-8 col-xl-4">
                                                        <div class="input-group">
                                            <span class="input-group-addon">
                                            <i class="fa fa-user"></i>
                                        </span>
                                                            <input type="text" id="username4" class="form-control" placeholder="Role">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-xl-2 two_column_label_margintop text-lg-right">
                                                        <label for="email4" class="control-label" th:text="#{salary}">Salary</label>
                                                    </div>
                                                    <div class="col-lg-8 col-xl-4 two_column_signup_margintop">
                                                        <div class="input-group">
                                            <span class="input-group-addon">
                                            <i class="fa fa-envelope"></i>
                                        </span>
                                                            <input type="text" id="email4" class="form-control" placeholder="Salary">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-lg-3 col-xl-2 text-lg-right">
                                                        <label for="password4" class="col-form-label" th:text="#{password}">Password</label>
                                                    </div>
                                                    <div class="col-lg-8 col-xl-4">
                                                        <div class="input-group">
                                            <span class="input-group-addon">
                                            <i class="fa fa-lock"></i>
                                        </span>
                                                            <input type="password" id="password4" class="form-control" placeholder="Password">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-xl-2 two_column_label_margintop text-lg-right">
                                                        <label for="confirm4" class="col-form-label" th:text="#{confirm}">Confirm Password</label>
                                                    </div>
                                                    <div class="col-lg-8 col-xl-4 two_column_signup_margintop">
                                                        <div class="input-group">
                                            <span class="input-group-addon">
                                            <i class="fa fa-lock"></i>
                                        </span>
                                                            <input type="password" id="confirm4" class="form-control" placeholder="Confirm Password">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-lg-3 col-xl-2 text-lg-right">
                                                        <label for="gender4" class="col-form-label" th:text="#{gender}">Gender</label>
                                                    </div>
                                                    <div class="col-lg-8 col-xl-4">
                                                        <div class="input-group">
                                            <span class="input-group-addon">
                                            <i class="fa fa-users"></i>
                                        </span>
                                                            <select id="gender4" class="form-control">
                                                                <option th:text="#{male}">Male</option>
                                                                <option th:text="#{female}">Female</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- last name-->
                                                <div class="form-group row">
                                                    <div class="col-lg-9 push-xl-2 push-lg-3">
                                                        <label class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input">
                                                            <span class="custom-control-indicator"></span>
                                                            <span class="custom-control-description"> I Agree Terms to the
                                            <a href="#">Terms and Conditions</a></span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-lg-9 push-xl-2 push-lg-3">
                                                        <button class="btn btn-primary layout_btn_prevent" th:text="#{save}">Add Role</button>
                                                        <button class="btn btn-warning layout_btn_prevent" th:text="#{reset}">Cancel</button>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- two column sign up form-->
                            
                        </div>
                    </div>
                    <!-- /.inner -->
                </div>
                <!-- /.outer -->
            </div>
</div>
</body>
</html>