<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/admin/admin-layout">
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>

<div layout:fragment="content" >
	 <div id="content" class="bg-container">
                <header class="head">
                    <div class="main-bar">
                        <div class="row">
                        <div class="col-lg-6 col-md-4 col-sm-4">
                            <h4 class="nav_top_align skin_txt">
                                        <i class="fa fa-th"></i>
                                        <span th:text="#{detail}">Detail</span>
                                    </h4>
                        </div>
                        <div class="col-lg-6 col-md-8 col-sm-8">
                            <ol class="breadcrumb float-right nav_breadcrumb_top_align">
                                <li class="breadcrumb-item">
                                    <a href="index.html">
                                        <i class="fa fa-home" data-pack="default" data-tags=""></i> <span th:text="#{user-list}">User list</span>
                                    </a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#"><span th:text="#{detail}">Detail</span></a>
                                </li>
                           
                            </ol>
                        </div>
                        </div>
                    </div>
                </header>

                <div class="outer">
                    <div class="inner bg-light lter bg-container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-header bg-white">
                                        Basic Table
                                    </div>
                                    <div class="card-block">
                                        <div class="table-responsive m-t-35">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th th:text="#{username}">UserName</th>
                                                    <th th:text="#{gender}">Gender</th>
                                                    <th th:text="#{email}">Email</th>
                                                    <th th:text="#{phone}">Phone</th>
                                                    <th th:text="#{password}">Password</th>
                                                    <th th:text="#{address}">Address</th>
                                                </tr>
                                                </thead>
                                                
                                                <tbody>
                                                <tr th:each="u:${USER}">
                                                    <td th:text=${u.uid}></td>
                                                    <td th:text=${u.username}></td>
                                                    <td th:text=${u.gender}></td>
                                                    <td th:text=${u.email}></td>
                                                    <td th:text=${u.phone}></td>
                                                    <td th:text=${u.pass}></td>
                                                    <td th:text=${u.address}></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                                </div>
                                <!-- END SAMPLE TABLE PORTLET-->
                      
                    <!-- /.inner -->
                </div>
                <!-- /.outer -->
            </div>
            <!-- /#content -->
					
								
</div>
</body>
</html>