<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/admin/admin-layout">
<head>
<meta charset="UTF-8"/>
<title>User-Edit-Jenh-Aii</title>
</head>
<body>

<div layout:fragment="content" >
<div id="content" class="bg-container">
            <header class="head">

                <div class="main-bar">
                    <div class="row">
                        <div class="col-lg-6">
                            <h4 class="nav_top_align">
                                <i class="fa fa-user"></i>
                                <span th:text="#{user-cu}">Add User</span>
                            </h4>
                        </div>
                        <div class="col-lg-6">
                            <div class="float-right">
                                <ol class="breadcrumb nav_breadcrumb_top_align">
                                    <li class="breadcrumb-item">
                                        <a href="index.html">
                                            <i class="fa fa-home" data-pack="default" data-tags=""></i>
                                            <span th:text="#{dashboard}">Dashboard</span>
                                        </a>
                                    </li>
                                    <li class="breadcrumb-item active"><span th:text="#{user-cu}">Add User</span></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <div class="outer">
                <div class="inner bg-container">
                    <div class="card">

                        <div class="card-block m-t-35">
                            <div>
                                <h4><span th:text="#{profile}">Personal Information</span></h4>
                            </div>
                            <form class="form-horizontal login_validator" id="tryitForm" th:action="@{/update}"
                                  method="post" th:object="${user}">
                                <!--<form role="form" id="tryitForm" action="add_user.html" class="form-horizontal" method="post" auete="on">-->
                                <div class="row">
                                    <div class="col-12">
                                     
                                        <div class="form-group row m-t-25">
                                            <div class="col-lg-3 text-lg-right">
                                                <label for="u-name" class="col-form-label"><span th:text="#{username}">User
                                                    Name *</span></label>
                                            </div>
                                            <div class="col-xl-6 col-lg-8">
                                                <div class="input-group">
                                    <span class="input-group-addon"> <i class="fa fa-user text-primary"></i>
                                    </span>
                                                    <input type="text" name="firstName" th:field="*{username}"
                                                           class="form-control">
                                                </div>

                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-lg-3 text-lg-right">
                                                <label for="email" class="col-form-label"><span th:text="#{email}">Email
                                                    *</span></label>
                                            </div>
                                            <div class="col-xl-6 col-lg-8">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-envelope text-primary"></i></span>
                                                    <input type="text" placeholder=" " th:field="*{email}" name="email"
                                                           class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-lg-3 text-lg-right">
                                                <label for="pwd" class="col-form-label"><span th:text="#{password}">Password
                                                    *</span></label>
                                            </div>
                                            <div class="col-xl-6 col-lg-8">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-lock text-primary"></i></span>
                                                    <input th:field="*{pass}" type="text" name="password" 
                                                           class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-lg-3 text-lg-right">
                                                <label for="cpwd" class="col-form-label"><span th:text="#{confirm}">Confirm
                                                    Password *</span></label>
                                            </div>
                                            <div class="col-xl-6 col-lg-8">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-lock text-primary"></i></span>
                                                    <input type="password" name="confirmpassword" placeholder=" " id="cpwd"
                                                           class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-lg-3 text-lg-right">
                                                <label for="phone" class="col-form-label"><span th:text="#{phone}">Phone
                                                    *</span></label>
                                            </div>
                                            <div class="col-xl-6 col-lg-8">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-phone text-primary"></i></span>
                                                    <input type="text" placeholder=" " th:field="*{phone}" name="cell"
                                                           class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group gender_message row">
                                            <div class="col-lg-3 text-lg-right">
                                                <label class="col-form-label"><span th:text="#{gender}">Gender *</span></label>
                                            </div>
                                            <div class="col-xl-6 col-lg-8">
                                                <div class="custom-controls-stacked">
                                                    <select th:field="*{gender}">
													  <option value="Female">Female</option>
													  <option value="Male">Male</option>
													</select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-lg-3 text-lg-right">
                                                <label for="address" class="col-form-label"><span th:text="#{address}">Address
                                                    *</span></label>
                                            </div>
                                            <div class="col-xl-6 col-lg-8">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-plus text-primary"></i></span>
                                                    <input type="text" placeholder=" "  th:field="*{address}" name="address1"  class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-lg-3 text-lg-right">
                                                <label for="city" class="col-form-label"><span >UserHash
                                                    *</span></label>
                                            </div>
                                            <div class="col-xl-6 col-lg-8">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-plus text-primary"></i></span>
                                                    <input disabled type="text" placeholder=" " name="city" id="city" th:field="*{hashcode}"
                                                           class="form-control">
                                                </div>
                                            </div>
                                        </div>
                      
                                        <div class="form-group row">
                                            <div class="col-lg-9 push-lg-3">
                                                <button class="btn btn-primary" type="submit">
                                                    <i class="fa fa-user"></i>
                                                    <span th:text="#{save}">Add User</span>
                                                </button>
                                                <button class="btn btn-warning" type="reset" id="clear">
                                                    <i class="fa fa-refresh"></i>
                                                    <span th:text="#{reset}">Reset</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- /.inner -->
            </div>
            <!-- /.outer -->
            <!-- # right side -->

</div>
        <!-- /#content -->
        </div>
        </body>
        </html>