<!-- <html>
<head>
	<link rel="stylesheet" href="/resources/admin/css/style.css">
	<style>
		/* h1{color:red;} */
		
	</style>
</head>
</html> -->
<!-- <html xmlns:th="http://www.thymeleaf.org">
	<link rel="stylesheet" th:href="@{/resources/admin/css/style.css}">
</html> -->
<html xmlns:th="http://www.thymeleaf.org">
	<link rel="shortcut icon" th:href="@{/resources/admin/img/logo1.ico}"/>

    <!--global styles-->
    <link type="text/css" rel="stylesheet" th:href="@{/resources/admin/css/components.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/resources/admin/css/custom.css}"/>
    <!-- end of global styles-->
    <link type="text/css" rel="stylesheet" th:href="@{/resources/admin/vendors/c3/css/c3.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/resources/admin/vendors/toastr/css/toastr.min.css}"/>
     <link type="text/css" rel="stylesheet" th:href="@{/resources/admin/vendors/switchery/css/switchery.min.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{/resources/admin/css/pages/new_dashboard.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/resources/admin/#}" id="skin_change"/>
    <link type="text/css" rel="stylesheet" th:href="@{/resources/admin/vendors/jasny-bootstrap/css/jasny-bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/resources/admin/vendors/bootstrapvalidator/css/bootstrapValidator.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/resources/admin/vendors/themify/css/themify-icons.css}" />
    <!-- Plugin styles-->
    <link rel="stylesheet" type="text/css" th:href="@{/resources/admin/vendors/ionicons/css/ionicons.min.css}" />
    <!-- end of plugin styles -->
    <link rel="stylesheet" type="text/css" th:href="@{/resources/admin/css/pages/icon.css}" />
</html>
